.card-cases .ant-card-head-title {
    color: rgb(240 232 232 / 85%);
}
.card-death .ant-card-head-title {
    color: rgb(240 232 232 / 85%);
}
.card-vaccine .ant-card-head-title {
    color: rgb(240 232 232 / 85%);
}
.detail-time-graph .ant-card-head-title{
    color: rgba(16, 14, 14, 0.85);
}
.detail-pie-graph .ant-card-head-title{
    color: rgba(16, 14, 14, 0.85);
}